<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?define TimeTracker_TargetDir=$(var.TimeTracker.TargetDir)?>
	<Product Id="*" Name="STTimeTracker" Language="1033" Version="1.0.0.0" Manufacturer="supremetechnologiesindia.com" UpgradeCode="a5ffc64c-a79d-41be-b3c2-1342ddec536a">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Comments="Version: 1.0.0.0" />

		<Icon Id="logo.ico" SourceFile="$(var.ProjectDir)\logo.ico" />
		<Property Id="ARPPRODUCTICON">logo.ico</Property>

		<WixVariable Id="WixUIBannerBmp" Value="Images\installer_top-banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="Images\installer_background.bmp" />
		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\License.rtf" />

		<UIRef Id="WixUI_Minimal" />
		<Upgrade Id="90f9ccfa-7975-4908-b462-7b1bc3e5c8e5">
			<UpgradeVersion Minimum="1.0.0.0" IncludeMinimum="yes" Maximum="4.0.5.0" IncludeMaximum="no" Property="OLD_VERSION_FOUND" />
		</Upgrade>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="STTimeTracker" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="cs_files" />
			<ComponentGroupRef Id="en_files" />
			<ComponentGroupRef Id="assets_images_files" />
			<ComponentGroupRef Id="Images_files" />
			<ComponentRef Id="ApplicationShortcut" />
			<ComponentRef Id="ApplicationShortcutDesktop" />
			<ComponentGroupRef Id="PermissionsComponentGroup" />
			<ComponentRef Id="StartupShortcut" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="STTimeTracker">
					<Directory Id="Images" Name="Images" />
					<Directory Id="en" Name="en" />
					<Directory Id="cs" Name="cs" />
					<Directory Id="assets" Name="assets">
						<Directory Id="assets_images" Name="images" />
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="STTimeTracker" />
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop" />
			<Directory Id="StartupShortcutDirectory" Name="Startup" />
		</Directory>
	</Fragment>
	<Fragment>
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="9bd13330-6540-406f-a3a8-d7f7c69ae7f9">
				<Shortcut Id="ApplicationStartMenuShortcut" Name="STTimeTracker" Description="STTimeTracker" Target="[INSTALLFOLDER]timetracker.exe" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\STTimeTracker" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="ApplicationShortcutDesktop" Guid="cde1e030-eb64-49a5-b7b8-400b379c2d1a">
				<Shortcut Id="ApplicationDesktopShortcut" Name="STTimeTracker" Description="STTimeTracker" Target="[INSTALLFOLDER]timetracker.exe" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\STTimeTracker" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="StartupShortcutDirectory">
			<Component Id="StartupShortcut" Guid="cc07c6ae-d6a3-4ebb-93d1-a061937d8a67">
				<Shortcut Id="ApplicationStartupShortcut" Name="STTimeTracker" Description="STTimeTracker" Target="[INSTALLFOLDER]timetracker.exe" WorkingDirectory="INSTALLFOLDER" Directory="ApplicationProgramsFolder" />
				<RegistryKey Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run" ForceCreateOnInstall="yes">
					<RegistryValue Id="STTimeTrackerStartup" Name="STTimeTracker" Value="[INSTALLFOLDER]timetracker.exe" Type="string" KeyPath="yes" />
				</RegistryKey>
			</Component>
		</DirectoryRef>
	</Fragment>
	<Fragment>
		<ComponentGroup Id="PermissionsComponentGroup" Directory="INSTALLFOLDER">
			<Component Id="SetPermissions" Guid="ec2671bd-1f04-43ad-9511-2aeada9d610f">
				<CreateFolder>
					<Permission User="Everyone" GenericAll="yes" />
				</CreateFolder>
			</Component>
			<Component Id="AForge.Video.dll" Guid="96d5ad63-fd94-4156-8033-a3b2d77a4bf0">
			  <File Id="AForge.Video.dll" Name="AForge.Video.dll" Source="$(var.TimeTracker_TargetDir)AForge.Video.dll" />
			</Component>
			<Component Id="AForge.dll" Guid="1ab83def-2cc6-424e-aad1-626e018c61a5">
			  <File Id="AForge.dll" Name="AForge.dll" Source="$(var.TimeTracker_TargetDir)AForge.dll" />
			</Component>
			<Component Id="AForge.Video.DirectShow.dll" Guid="805b2251-3c13-44a3-8c96-da1e29bdb646">
			  <File Id="AForge.Video.DirectShow.dll" Name="AForge.Video.DirectShow.dll" Source="$(var.TimeTracker_TargetDir)AForge.Video.DirectShow.dll" />
			</Component>
			<Component Id="Icon.ico" Guid="69775755-94fa-4f17-a361-9330d148daf3">
			  <File Id="Icon.ico" Name="Icon.ico" Source="$(var.TimeTracker_TargetDir)Icon.ico" />
			</Component>
			<Component Id="System.Runtime.Caching.dll" Guid="471e1a79-f027-426c-bf65-20f864443141">
			  <File Id="System.Runtime.Caching.dll" Name="System.Runtime.Caching.dll" Source="$(var.TimeTracker_TargetDir)System.Runtime.Caching.dll" />
			</Component>
			<Component Id="System.Data.SQLite.dll" Guid="354ecd96-8d52-450b-98c5-005193ab07a9">
			  <File Id="System.Data.SQLite.dll" Name="System.Data.SQLite.dll" Source="$(var.TimeTracker_TargetDir)System.Data.SQLite.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="timetracker.exe" Guid="ec2671bd-2f04-43ad-9511-2aeada9d610f">
				<File Id="timetracker.exe" Name="timetracker.exe" Source="$(var.TimeTracker_TargetDir)timetracker.exe" />
			</Component>
			<Component Id="timetracker.exe.config" Guid="4e077548-55d7-4b4b-8509-189c0b6d6c86">
				<File Id="timetracker.exe.config" Name="timetracker.exe.config" Source="$(var.TimeTracker_TargetDir)timetracker.exe.config" />
			</Component>
			<Component Id="System.IO.Compression.dll" Guid="76e8fcc3-e1bc-446b-a42b-ce100a6221f5">
				<File Id="System.IO.Compression.dll" Name="System.IO.Compression.dll" Source="$(var.TimeTracker_TargetDir)System.IO.Compression.dll" />
			</Component>
			<Component Id="System.Numerics.Vectors.dll" Guid="281322b7-b488-4489-bdfa-b28572537ea9">
				<File Id="System.Numerics.Vectors.dll" Name="System.Numerics.Vectors.dll" Source="$(var.TimeTracker_TargetDir)System.Numerics.Vectors.dll" />
			</Component>
			<Component Id="System.Memory.dll" Guid="de002bc6-2809-4d4d-8475-0d5d3d368a18">
				<File Id="System.Memory.dll" Name="System.Memory.dll" Source="$(var.TimeTracker_TargetDir)System.Memory.dll" />
			</Component>
			<Component Id="System.Diagnostics.DiagnosticSource.dll" Guid="d1e0a1b9-fcf4-4153-8259-d231f963ec7e">
				<File Id="System.Diagnostics.DiagnosticSource.dll" Name="System.Diagnostics.DiagnosticSource.dll" Source="$(var.TimeTracker_TargetDir)System.Diagnostics.DiagnosticSource.dll" />
			</Component>
			<Component Id="Microsoft.IdentityModel.Abstractions.dll" Guid="fc8dde43-c799-4b4d-a8b8-3a7ab4412ade">
				<File Id="Microsoft.IdentityModel.Abstractions.dll" Name="Microsoft.IdentityModel.Abstractions.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.IdentityModel.Abstractions.dll" />
			</Component>
			<Component Id="System.Xml.XPath.XDocument.dll" Guid="b15418c1-9afd-4d4c-9359-4cf090fcc5f1">
				<File Id="System.Xml.XPath.XDocument.dll" Name="System.Xml.XPath.XDocument.dll" Source="$(var.TimeTracker_TargetDir)System.Xml.XPath.XDocument.dll" />
			</Component>
			<Component Id="System.Threading.Overlapped.dll" Guid="d8cf1b4c-45af-47e5-a333-5d8813567cd4">
				<File Id="System.Threading.Overlapped.dll" Name="System.Threading.Overlapped.dll" Source="$(var.TimeTracker_TargetDir)System.Threading.Overlapped.dll" />
			</Component>
			<Component Id="System.Security.SecureString.dll" Guid="10338355-7158-4e6a-9e0c-567e7a368642">
				<File Id="System.Security.SecureString.dll" Name="System.Security.SecureString.dll" Source="$(var.TimeTracker_TargetDir)System.Security.SecureString.dll" />
			</Component>
			<Component Id="System.Security.Cryptography.Algorithms.dll" Guid="0e6784d2-88e9-4f1e-b4eb-49126c60a05e">
				<File Id="System.Security.Cryptography.Algorithms.dll" Name="System.Security.Cryptography.Algorithms.dll" Source="$(var.TimeTracker_TargetDir)System.Security.Cryptography.Algorithms.dll" />
			</Component>
			<Component Id="System.Runtime.Serialization.Primitives.dll" Guid="2e56c946-136b-4ab1-a513-f5ab19b3e107">
				<File Id="System.Runtime.Serialization.Primitives.dll" Name="System.Runtime.Serialization.Primitives.dll" Source="$(var.TimeTracker_TargetDir)System.Runtime.Serialization.Primitives.dll" />
			</Component>
			<Component Id="System.Runtime.Serialization.Xml.dll" Guid="28606f04-1ea4-4d3e-85e1-b6b1ddbaa575">
				<File Id="System.Runtime.Serialization.Xml.dll" Name="System.Runtime.Serialization.Xml.dll" Source="$(var.TimeTracker_TargetDir)System.Runtime.Serialization.Xml.dll" />
			</Component>
			<Component Id="System.Runtime.InteropServices.RuntimeInformation.dll" Guid="012e4871-c73a-4b9d-9cba-dac6d901beec">
				<File Id="System.Runtime.InteropServices.RuntimeInformation.dll" Name="System.Runtime.InteropServices.RuntimeInformation.dll" Source="$(var.TimeTracker_TargetDir)System.Runtime.InteropServices.RuntimeInformation.dll" />
			</Component>
			<Component Id="System.ValueTuple.dll" Guid="4e4e490d-1fbb-468d-9bf8-ea66a45654fa">
				<File Id="System.ValueTuple.dll" Name="System.ValueTuple.dll" Source="$(var.TimeTracker_TargetDir)System.ValueTuple.dll" />
			</Component>
			<Component Id="System.Net.Sockets.dll" Guid="2991ec38-0294-4d11-af36-bcad9eaff25f">
				<File Id="System.Net.Sockets.dll" Name="System.Net.Sockets.dll" Source="$(var.TimeTracker_TargetDir)System.Net.Sockets.dll" />
			</Component>
			<Component Id="System.Net.Http.dll" Guid="0e0fe46b-c22c-48f3-9df9-511d69b2edee">
				<File Id="System.Net.Http.dll" Name="System.Net.Http.dll" Source="$(var.TimeTracker_TargetDir)System.Net.Http.dll" />
			</Component>
			<Component Id="System.Buffers.dll" Guid="12969488-7b15-4587-be72-4f52450fca76">
				<File Id="System.Buffers.dll" Name="System.Buffers.dll" Source="$(var.TimeTracker_TargetDir)System.Buffers.dll" />
			</Component>
			<Component Id="System.Globalization.Extensions.dll" Guid="b7438481-108b-4888-8d90-9f17a259c046">
				<File Id="System.Globalization.Extensions.dll" Name="System.Globalization.Extensions.dll" Source="$(var.TimeTracker_TargetDir)System.Globalization.Extensions.dll" />
			</Component>
			<Component Id="System.Diagnostics.Tracing.dll" Guid="ac3504fd-1b66-406b-a13b-5fc40c352ed7">
				<File Id="System.Diagnostics.Tracing.dll" Name="System.Diagnostics.Tracing.dll" Source="$(var.TimeTracker_TargetDir)System.Diagnostics.Tracing.dll" />
			</Component>
			<Component Id="System.Diagnostics.StackTrace.dll" Guid="9069c3a5-cfa9-4c4f-acec-081afcf36e5a">
				<File Id="System.Diagnostics.StackTrace.dll" Name="System.Diagnostics.StackTrace.dll" Source="$(var.TimeTracker_TargetDir)System.Diagnostics.StackTrace.dll" />
			</Component>
			<Component Id="System.Data.Common.dll" Guid="b885a934-16e6-4d5f-8999-3891478c49e0">
				<File Id="System.Data.Common.dll" Name="System.Data.Common.dll" Source="$(var.TimeTracker_TargetDir)System.Data.Common.dll" />
			</Component>
			<Component Id="netstandard.dll" Guid="61002ef9-54dc-463b-9d7e-95e8b0542bfd">
				<File Id="netstandard.dll" Name="netstandard.dll" Source="$(var.TimeTracker_TargetDir)netstandard.dll" />
			</Component>
			<Component Id="Dapper.dll" Guid="85909c14-df64-452a-a6e4-03b6c3ca7725">
				<File Id="Dapper.dll" Name="Dapper.dll" Source="$(var.TimeTracker_TargetDir)Dapper.dll" />
			</Component>
			<Component Id="Microsoft.Identity.Client.dll" Guid="1d1df9d3-de1e-4172-989e-cfd6194c7007">
				<File Id="Microsoft.Identity.Client.dll" Name="Microsoft.Identity.Client.dll" Source="$(var.TimeTracker_TargetDir)Microsoft.Identity.Client.dll" />
			</Component>
			<Component Id="logo.ico" Guid="3894f7e0-18e4-48a0-8da2-a2a1882aa49b">
				<File Id="logo.ico" Name="logo.ico" Source="$(var.ProjectDir)\logo.ico" />
			</Component>
			<Component Id="System.Runtime.CompilerServices.Unsafe.dll" Guid="0736f68a-cc03-4a1b-a1ac-c8023883dfe8">
				<File Id="System.Runtime.CompilerServices.Unsafe.dll" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="$(var.TimeTracker_TargetDir)System.Runtime.CompilerServices.Unsafe.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>
	<Fragment>
		<ComponentGroup Id="cs_files" Directory="cs">
			<Component Id="cs_timetracker.resources.dll" Guid="af13c5bf-1737-40b3-bbe0-1a4c569522cf">
				<File Id="cs_timetracker.resources.dll" Name="timetracker.resources.dll" Source="$(var.TimeTracker_TargetDir)cs\timetracker.resources.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="en_files" Directory="en">
			<Component Id="en_timetracker.resources.dll" Guid="43f0c333-03f3-4c0e-96c5-c1b9541f9d98">
				<File Id="en_timetracker.resources.dll" Name="timetracker.resources.dll" Source="$(var.TimeTracker_TargetDir)en\timetracker.resources.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="assets_images_files" Directory="assets_images">
			<Component Id="assets_images_2.png" Guid="c2f2592d-3252-407a-bf46-9ff5fcd4e1f2">
				<File Id="assets_images_2.png" Name="2.png" Source="Images\2.png" />
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="Images_files" Directory="Images">
			<Component Id="Images_clock.ico" Guid="0d2c2662-c629-460f-87da-5f69e7b8c893">
				<File Id="Images_clock.ico" Name="clock.ico" Source="Images\clock.ico" />
			</Component>
			<Component Id="Images_clock.svg" Guid="18af1d76-763d-4798-ade8-dd8bd403a950">
				<File Id="Images_clock.svg" Name="clock.svg" Source="Images\clock.svg" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
